
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #81b5b4;
    background-color: #60858d;
}

header, section {
    
    padding: 20px;
}
a{
    display:block;
}
p, li {
    line-height: 1.5em;
}
h2 {
    letter-spacing: 3pt;
}
h1 {
    letter-spacing: 5pt;
}
#tutorials {
    background-color: #e0ebd1;
}
#homework {
    color: #60858d;
    background-color: #bbd9c4;
}
#inspiration {
    color: #e0ebd1;
    background-color: #81b5b4;
    padding-top: 40px;
    padding-bottom: 40px;
}

div.col {
    float: left;
    width: 33.33%;
}

a {
    color: #004953;
}