@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    margin: 1;
    background-color: #e2dad6;

}

p {
    font-family: 'Lora', serif;
    color: #6b5f5a;
}

a {
    color: #243748;
}

main {
    margin-left: 40px;
}

nav{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-top: 25px;
}